.vscode
.tscache
.baseDir.ts
node_modules
*.map

# Git Ignore Only
dayvulgeAdminKey.json
dist

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
